<p id="notice"><%= notice %></p>

<h1>Listing Hunts</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Condition</th>
      <th>Status</th>
      <th>Result</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @hunts.each do |hunt| %>
      <tr>
        <td><%= hunt.isbn %></td>
        <td><%= hunt.condition %></td>
        <td><%= hunt.status %></td>
        <td><%= display_hunt_result(hunt) %></td>
        <td><%= link_to 'Show', hunt %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hunt', new_hunt_path %>
