<p id="notice"><%= notice %></p>

<%= link_to 'Start a new hunting', new_hunt_path, class: 'btn btn-default' %>

<h1>Listing Hunts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Condition</th>
      <th>Status</th>
      <th>Result</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @hunts.each do |hunt| %>
      <tr>
        <td><%= hunt.isbn %></td>
        <td><%= hunt.condition.humanize %></td>
        <td><%= hunt.status.humanize %></td>
        <td><%= display_hunt_result(hunt) %></td>
        <td><%= link_to 'show details', hunt, class: 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @hunts %>