<p id="notice"><%= notice %></p>

<%= link_to 'Start another hunting', new_hunt_path, class: 'btn btn-default' %>

<p>
  <strong>Isbn:</strong>
  <%= @hunt.isbn %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @hunt.condition.humanize %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hunt.status.humanize %>
</p>

<p>
  <strong>Result:</strong><br/>
  <%= display_hunt_result(@hunt, :detail) %>
</p>

<%= link_to 'Back', hunts_path %>
