<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @hunt.isbn %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @hunt.condition %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hunt.status %>
</p>

<p>
  <strong>Result:</strong>
  <%= display_hunt_result(@hunt) %>
</p>

<%= link_to 'Back', hunts_path %>
