<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @rule.enabled %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @rule.settings %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
